<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package     Fooman_Jirafe
 * @copyright   Copyright (c) 2010 Jirafe Inc (http://www.jirafe.com)
 * @copyright   Copyright (c) 2010 Fooman Limited (http://www.fooman.co.nz)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
 
<config>
    <modules>
        <Fooman_Jirafe>
            <version>0.2.5</version>
        </Fooman_Jirafe>
    </modules>

    <global>
        <ignore_user_agents>
            <!--
            SELECT count(*) as count, `http_user_agent` FROM `log_visitor_info` WHERE `visitor_id`>'335522' GROUP BY `http_user_agent` ORDER BY count DESC
            -->
            <aschroder1>AppEngine-Google; (+http://code.google.com/appengine; appid: aschroder-monitor)</aschroder1>
            <bing1>Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)</bing1>
            <pingdom1>Pingdom.com_bot_version_1.4_(http://www.pingdom.com/)</pingdom1>
            <hosttracker1>Mozilla/4.0 (compatible; HostTracker.com/1.0;+http://host-tracker.com/)</hosttracker1>
            <yahoo1>Mozilla/5.0 (compatible; Yahoo! Slurp; http://help.yahoo.com/help/us/ysearch/slurp)</yahoo1>
            <baidu1>Baiduspider+(+http://www.baidu.com/search/spider.htm)</baidu1>
            <baidu2>Baiduspider+(+http://www.baidu.jp/spider/)</baidu2>
            <yandex1>Mozilla/5.0 (compatible; YandexBot/3.0; +http://yandex.com/bots)</yandex1>
            <socialmedia1>Mozilla/5.1 (compatible; SocialMedia Bot/1.5;)</socialmedia1>
            <exabot1>Mozilla/5.0 (compatible; Exabot/3.0; +http://www.exabot.com/go/robot)</exabot1>
            <soso1>Sosospider+(+http://help.soso.com/webspider.htm)</soso1>
            <tweetmeme1>Mozilla/5.0 (compatible; MSIE 6.0b; Windows NT 5.0) Gecko/2009011913 Firefox/3.0.6 TweetmemeBot</tweetmeme1>
            <comodo1>Comodo-Certificates-Spider</comodo1>
            <comodo2>Comodo SSL Checker</comodo2>
            <speedy1>Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US) Speedy Spider (http://www.entireweb.com/about/search_tech/speedy_spider/)</speedy1>
            <twitter1>Twitterbot/0.1</twitter1>
            <sitespeed1>SiteSpeedBot</sitespeed1>
            <zooka1>Zookabot/2.1;++http://zookabot.com</zooka1>
            <njuice1>Mozilla/5.0 (compatible; Windows NT 6.0) Gecko/20090624 Firefox/3.5 NjuiceBot</njuice1>
            <friendfeed1>Mozilla/5.0 (compatible; FriendFeedBot/0.1; +Http://friendfeed.com/about/bot)</friendfeed1>
            <huawei1>Huaweisymantecspider (compatible; MSIE 8.0; DSE-support@huaweisymantec.com)</huawei1>
            <huawei2>HuaweiSymantecSpider/1.0+DSE-support@huaweisymantec.com+(compatible; MSIE 7.0; Windows NT 5.1; Trident/4.0; .NET CLR 2.0.50727; .NET CLR 3.0.4506.2152; .NET CLR ; http://www.huaweisymantec.com/en/IRL/spider)</huawei2>
            <docomo1>DoCoMo/2.0 P900i(c100;TB;W24H11)(compatible; ichiro/mobile goo;+http://help.goo.ne.jp/door/crawler.html)</docomo1>
            <msn1>msnbot/2.0b (+http://search.msn.com/msnbot.htm)._</msn1>
            <worio1>Mozilla/5.0 (compatible; woriobot support [at] worio [dot] com +http://worio.com)</worio1>
            <google4>Googlebot-Image/1.0</google4>
            <archiver1>ia_archiver-web.archive.org</archiver1>
            <archiver2>ia_archiver (+http://www.alexa.com/site/help/webmasters; crawler@alexa.com)</archiver2>
            <passwordthumbs1>1PasswordThumbs/1 CFNetwork/454.11.5 Darwin/10.5.0 (i386) (MacBookPro3%2C1)</passwordthumbs1>
            <twingly1>Twingly Recon</twingly1>
            <tlsprober1>TLSProber/0.1</tlsprober1>
            <postrank1>PostRank/2.0 (postrank.com)</postrank1>
            <jskit1>JS-Kit URL Resolver, http://js-kit.com/</jskit1>
            <dotnetcom1>Mozilla/5.0 (compatible; DotBot/1.1; http://www.dotnetdotcom.org/, crawler@dotnetdotcom.org)</dotnetcom1>
            <google4>Mozilla/5.0 (compatible; Googlebot/2.1;  http://www.google.com/bot.html)</google4>
            <gigabot1>Gigabot/3.0 (http://www.gigablast.com/spider.html)</gigabot1>
            <search171>Mozilla/5.0 (compatible; Search17Bot/1.1; http://www.search17.com/bot.php)</search171>
            <mj121>Mozilla/5.0 (compatible; MJ12bot/v1.3.3; http://www.majestic12.co.uk/bot.php?+)</mj121>
            <archiveorg1>Mozilla/5.0 (compatible; archive.org_bot +http://www.archive.org/details/archive.org_bot)</archiveorg1>
            <wire1>WIRE/1.0 (Linux;i686;Bot,Robot,Spider,Crawler)</wire1>
            <discobot1>Mozilla/5.0 (compatible; discobot/1.1; +http://discoveryengine.com/discobot.html</discobot1>
            <legs801>Mozilla/5.0 (compatible; 008/0.83; http://www.80legs.com/webcrawler.html;) Gecko/2008032620</legs801>
            <legs802>Mozilla/5.0 (compatible; 008/0.83; http://www.80legs.com/webcrawler.html) Gecko/2008032620</legs802>
            <kiwistatus1>KiwiStatus/0.3 (NZS.com New Zealand Search; http://www.nzs.com/kiwi-status/)</kiwistatus1>
            <dps>PXHOST</dps>
            <pycurl1>PycURL/7.18.2</pycurl1>
            <voyager1>Voyager/1.0</voyager1>
        </ignore_user_agents>

        <models>
            <foomanjirafe>
                <class>Fooman_Jirafe_Model</class>
                <resourceModel>foomanjirafe_mysql4</resourceModel>
            </foomanjirafe>
            <foomanjirafe_mysql4>
                <class>Fooman_Jirafe_Model_Mysql4</class>
                <resourceModel>foomanjirafe_mysql4</resourceModel>
                <entities>
                    <report><table>foomanjirafe_report</table></report>
                </entities>
            </foomanjirafe_mysql4>
            <log>
                <rewrite>
                    <visitor>Fooman_Jirafe_Model_Log_Visitor</visitor>
                </rewrite>
            </log>
            <adminhtml>
                <rewrite>
                    <system_config_backend_currency_base>Fooman_Jirafe_Model_Adminhtml_System_Config_Backend_Currency_Base</system_config_backend_currency_base>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <foomanjirafe_setup>
                <setup>
                    <module>Fooman_Jirafe</module>
                    <class>Fooman_Jirafe_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </foomanjirafe_setup>
            <foomanjirafe_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </foomanjirafe_write>
            <foomanjirafe_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </foomanjirafe_read>
        </resources>
        <helpers>
            <foomanjirafe>
                <class>Fooman_Jirafe_Helper</class>
            </foomanjirafe>
        </helpers>
        <blocks>
            <foomanjirafe>
                <class>Fooman_Jirafe_Block</class>
            </foomanjirafe>
            <adminhtml>
                <rewrite>
                    <dashboard>Fooman_Jirafe_Block_Adminhtml_Dashboard</dashboard>
                    <system_account_edit_form>Fooman_Jirafe_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <template>
            <email>
               <foomanjirafe_report_template translate="label" module="foomanjirafe">
                   <label>New Report</label>
                   <file>jirafe/report.html</file>
                   <type>html</type>
               </foomanjirafe_report_template>
           </email>
        </template>
    </global>
    <default>
        <trans_email>
            <ident_jirafe>
                    <name>Jirafe Analytics</name>
                    <email>reports@jirafe.com</email>
            </ident_jirafe>
        </trans_email>
        <foomanjirafe>
            <settings>
                <last_status>0</last_status>
                <last_status_message/>
                <app_id/>
                <app_settings_hash/>
                <app_token/>
                <site_id/>
                <site_settings_hash/>
                <checkoutGoalId/>
                <sent_initial_email>0</sent_initial_email>
                <isActive>1</isActive>
                <reportType>simple</reportType>
                <emails/>
				<isEmailActive/>
            </settings>
            <report_email_template>foomanjirafe_report_template</report_email_template>
            <report_email_identity>jirafe</report_email_identity>
        </foomanjirafe>
    </default>
    <frontend>
        <layout>
            <updates>
                <foomanjirafe>
                    <file>foomanjirafe.xml</file>
                </foomanjirafe>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <readyToBuy>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>readyToBuy</method>
                    </readyToBuy>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foomanjirafe before="Mage_Adminhtml">Fooman_Jirafe_Adminhtml</foomanjirafe>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <foomanjirafe translate="title" module="foomanjirafe">
                                            <title>Fooman Jirafe Section</title>
                                        </foomanjirafe>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <store_save_commit_after>
                <observers>
                    <syncJirafeStore>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>syncJirafeStore</method>
                    </syncJirafeStore>
                </observers>
            </store_save_commit_after>
            <store_delete_after>
                <observers>
                    <fullSyncJirafeStore>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>fullSyncJirafeStore</method>
                    </fullSyncJirafeStore>
                </observers>
            </store_delete_after>
            <core_config_data_save_after>
                <observers>
                    <syncAfterSettingsSave>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>syncAfterSettingsSave</method>
                    </syncAfterSettingsSave>
                </observers>
            </core_config_data_save_after>
            <admin_user_delete_after>
                <observers>
                    <fullSyncJirafeStore>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>fullSyncJirafeStore</method>
                    </fullSyncJirafeStore>
                </observers>
            </admin_user_delete_after>
            <admin_user_save_after>
                <observers>
                    <fullSyncJirafeStore>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>fullSyncNewUser</method>
                    </fullSyncJirafeStore>
                </observers>
            </admin_user_save_after>
            <admin_user_save_before>
                <observers>
                    <saveJirafeStoreEmailMapping>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>saveJirafeStoreEmailMapping</method>
                    </saveJirafeStoreEmailMapping>
                </observers>
            </admin_user_save_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <appendToAdminBlocks>
                        <type>singleton</type>
                        <class>Fooman_Jirafe_Model_Observer</class>
                        <method>appendToAdminBlocks</method>
                    </appendToAdminBlocks>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <foomanjirafe>
                    <file>foomanjirafe.xml</file>
                </foomanjirafe>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <foomanjirafe_report>
                <schedule><cron_expr>5 * * * *</cron_expr></schedule>
                <run><model>foomanjirafe/report::cron</model></run>
            </foomanjirafe_report>
        </jobs>
    </crontab>
</config>