<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_Jirafe>
            <version>0.1.0</version>
        </Fooman_Jirafe>
    </modules>

    <global>
        <models>
            <foomanjirafe>
                <class>Fooman_Jirafe_Model</class>
                <resourceModel>foomanjirafe_mysql4</resourceModel>
            </foomanjirafe>
            <foomanjirafe_mysql4>
                <class>Fooman_Jirafe_Model_Mysql4</class>
                <resourceModel>foomanjirafe_mysql4</resourceModel>
                <entities>
                    <report><table>foomanjirafe_report</table></report>
                </entities>
            </foomanjirafe_mysql4>
        </models>
        <resources>
            <foomanjirafe_setup>
                <setup>
                    <module>Fooman_Jirafe</module>
                    <class>Fooman_Jirafe_Model_Mysql4_Setup</class>
                </setup>
            </foomanjirafe_setup>
            <foomanjirafe_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </foomanjirafe_write>
            <foomanjirafe_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </foomanjirafe_read>
        </resources>
        <helpers>
            <foomanjirafe>
                <class>Fooman_Jirafe_Helper</class>
            </foomanjirafe>
        </helpers>
        <blocks>
            <foomanjirafe>
                <class>Fooman_Jirafe_Block</class>
            </foomanjirafe>
        </blocks>
    </global>
    <!--<frontend>
        <layout>
            <updates>
                <foomanjirafe>
                    <file>foomanjirafe.xml</file>
                </foomanjirafe>
            </updates>
        </layout>
    </frontend>-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foomanjirafe before="Mage_Adminhtml">Fooman_Jirafe_Adminhtml</foomanjirafe>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <fooman>
            <jirafe>
                <websiteId>0</websiteId>
                <lastUpdatedDt></lastUpdatedDt>
                <isActive>1</isActive>
                <pkBaseURL>0</pkBaseURL>
                <pkBaseURLSecure>0</pkBaseURLSecure>
                <emails/>
            </jirafe>
        </fooman>
    </default>
    <adminhtml>
        <menu>
            <jirafestats translate="title" module="foomanjirafe">
                <title>Stats</title>
                <sort_order>11</sort_order>
                <action>adminhtml/stats</action>
            </jirafestats>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <jirafestats translate="title">
                            <title>Jirafe Dashboard</title>
                            <sort_order>0</sort_order>
                        </jirafestats>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <foomanjirafe translate="title" module="foomanjirafe">
                                            <title>Fooman Jirafe Section</title>
                                        </foomanjirafe>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <foomanjirafe_report>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>foomanjirafe/report::cron</model></run>
            </foomanjirafe_report>
            <foomanjirafe_transmit>
                <schedule><cron_expr>15 * * * *</cron_expr></schedule>
                <run><model>foomanjirafe/transmit::cron</model></run>
            </foomanjirafe_transmit>
        </jobs>
    </crontab>
</config>

