<!--@subject {{var dt_nice}} results for {{var description}} from Jirafe @-->
<!--@vars
{"var description":"Store Name",
"var store_id":"Store Id",
"var time_zone":"Time Zone",
"var dt":"Date of Report",
"var dt_nice":"Date of Report formatted with store locale",
"var base_url":"URL of store",
"var jirafe_settings_url":"URL to Jirafe settings",
"var num_orders":"Number of Orders",
"var revenue":"Revenue",
"var revenue_nice":"Revenue formatted with store locale",
"var num_visitors":"Number of visitors",
"var num_customers":"Number of customers",
"var num_abandoned_carts":"Number of abandoned carts",
"var revenue_abandoned_carts":"Potential revenue in abandoned carts",
"var revenue_abandoned_carts_nice":"Potential revenue in abandoned carts (formatted)",
"var revenue_per_customer":"Revenue per customer",
"var revenue_per_customer_nice":"Revenue per customer (formatted)",
"var revenue_per_order":"Average order value",
"var revenue_per_order_nice":"Average order value (formatted)",
"var revenue_per_visitor":"Revenue per visitor",
"var revenue_per_visitor_nice":"Revenue per visitor (formatted)",
"var max_order":"Biggest Order",
"var max_order_nice":"Biggest Order (formatted)",
"var min_order":"Smallest Order",
"var min_order_nice":"Smallest Order (formatted)",
"var conversion_rate":"Unique visitors that bought",
"var currency":"Base currency code"}
@-->

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<!-- outer table -->
<table width="100%" cellpadding="10" cellspacing="0" style="color:#252525;background-color:#999999;">
<tr>
  <td valign="top" align="center">
    <!-- border table -->
    <table cellspacing="0" cellpadding="0" width="600" style="font-family:arial,sans-serif;font-size:13px;">
    <!-- header -->
    <tr style="background-color:#999999;"><td><img src="http://jirafe.com/img/JirafeHeader.png" border="0" width="600" style="display:block;" /></td></tr>
    <tr style="background-color:#444444;">
      <td>
        <!-- inner table -->
        <table cellspacing="0" cellpadding="0" width="596" style="background-color:white;margin-left:2px;margin-right:2px;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;font-size:24px;">
        <!-- welcome -->
	<tr><td colspan="2" style="padding-top:10px;">{{var dt_nice}} results for {{var description}}:</td></tr>
        <!-- revenue -->
        <tr><td colspan="2" style="padding-top:15px;padding-bottom:5px;"><b>Revenue</b></td></tr>
        <tr><td>Total revenue</td><td align="right">{{var revenue_nice}}</td></tr>
        <tr><td>Revenue per customer</td><td align="right">{{var revenue_per_customer_nice}}</td></tr>
        <tr><td>Revenue per visitor</td><td align="right">{{var revenue_per_visitor_nice}}</td></tr>
        <!-- orders -->
        <tr><td colspan="2" style="padding-top:15px;padding-bottom:5px;"><b>Orders</b></td></tr>
        <tr><td>Total orders</td><td align="right">{{var num_orders}}</td></tr>
        <tr><td>Average order value</td><td align="right">{{var revenue_per_order_nice}}</td></tr>
        <tr><td>Largest order</td><td align="right">{{var max_order_nice}}</td></tr>
        <tr><td>Smallest order</td><td align="right">{{var min_order_nice}}</td></tr>
        <!-- visitors -->
        <tr><td colspan="2" style="padding-top:15px;padding-bottom:5px;"><b>Visitors</b></td></tr>
        <tr><td>Total visitors</td><td align="right">{{var num_visitors}}</td></tr>
        <tr><td>Conversion rate</td><td align="right">{{var conversion_rate}}%</td></tr>
        </table>
      </td>
    </tr>
    <!-- footer -->
    <tr><td colspan="3" align="left" valign="middle" style="background-color:#999999;"><img src=" http://jirafe.com/img/JirafeFooter.png" border="0" width="600" style="display:block;" /></td></tr>
    <!-- follow jirafe -->
    <tr><td align="center">Follow Jirafe on <a style="color:#994400;" href="http://twitter.com/jirafeinc">Twitter</a>.&nbsp;&nbsp;&nbsp;&nbsp;Give Jirafe <a style="color:#994400;" href="http://getsatisfaction.com/jirafe">feedback</a>.&nbsp;&nbsp;&nbsp;&nbsp;Contact Jirafe by <a style="color:#994400;" href="mailto:hello@jirafe.com">email</a>.</td></tr>
    <!-- unsubscribe -->
    <tr><td align="center">Would you rather not see these emails?  <a style="color:#994400;" href="{{var jirafe_settings_url}}">Unsubscribe</a>.</td></tr>
    </table>
  </td>
</tr>
</table>
</body>